<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Inertia{% endblock %}</title>

    {% if page is defined %}
      {{ inertiaHead(page) }}
    {% endif %}

    {{ vite_entry_link_tags('inertiaReact') }}
  </head>
  <body>
    {% block body %}
      <div id="app" data-page="{{ page|json_encode }}"></div>
    {% endblock %}

    {{ vite_entry_script_tags('inertiaReact') }}
  </body>
</html>
