
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mi SPA</title>
    {{ vite_entry_link_tags('main.jsx') }}
  </head>
  <body>
    {{ inertia(page) }}
    {{ vite_entry_script_tags('main.jsx') }}
  </body>
</html>
